.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: large;
}

.App .About-Section {
  text-align: left;
}

.App .Education {
  text-align: left;
}

.App .Projects {
  text-align: left;
}

.Github {
  font-size: 27px;
}

.list {
  font-size: 27px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/5651978.png");
  background-size: cover;
}
